.paddypower { background: #006e55;
background: -moz-linear-gradient(top,  #006e55 0%, #004b38 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006e55), color-stop(100%,#004b38));
background: -webkit-linear-gradient(top,  #006e55 0%,#004b38 100%);
background: -o-linear-gradient(top,  #006e55 0%,#004b38 100%);
background: -ms-linear-gradient(top,  #006e55 0%,#004b38 100%);
background: linear-gradient(to bottom,  #006e55 0%,#004b38 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e55', endColorstr='#004b38',GradientType=0 );
}

.ladbrokes { background: #fd0500;
background: -moz-linear-gradient(top,  #fd0500 0%, #b30000 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd0500), color-stop(100%,#b30000));
background: -webkit-linear-gradient(top,  #fd0500 0%,#b30000 100%);
background: -o-linear-gradient(top,  #fd0500 0%,#b30000 100%);
background: -ms-linear-gradient(top,  #fd0500 0%,#b30000 100%);
background: linear-gradient(top,  #fd0500 0%,#b30000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd0500', endColorstr='#b30000',GradientType=0 );
}

.boylesport { background: #134b7d;
background: -moz-linear-gradient(top,  #134b7d 0%, #002240 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#134b7d), color-stop(100%,#002240));
background: -webkit-linear-gradient(top,  #134b7d 0%,#002240 100%);
background: -o-linear-gradient(top,  #134b7d 0%,#002240 100%);
background: -ms-linear-gradient(top,  #134b7d 0%,#002240 100%);
background: linear-gradient(top,  #134b7d 0%,#002240 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#134b7d', endColorstr='#002240',GradientType=0 );
}

.bet365 { background: #0a9d77;
background: -moz-linear-gradient(top,  #0a9d77 0%, #014736 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a9d77), color-stop(100%,#014736));
background: -webkit-linear-gradient(top,  #0a9d77 0%,#014736 100%);
background: -o-linear-gradient(top,  #0a9d77 0%,#014736 100%);
background: -ms-linear-gradient(top,  #0a9d77 0%,#014736 100%);
background: linear-gradient(top,  #0a9d77 0%,#014736 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a9d77', endColorstr='#014736',GradientType=0 );
}

.vcbet { background: #464646;
background: -moz-linear-gradient(top,  #464646 0%, #1e181f 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464646), color-stop(100%,#1e181f));
background: -webkit-linear-gradient(top,  #464646 0%,#1e181f 100%);
background: -o-linear-gradient(top,  #464646 0%,#1e181f 100%);
background: -ms-linear-gradient(top,  #464646 0%,#1e181f 100%);
background: linear-gradient(top,  #464646 0%,#1e181f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#1e181f',GradientType=0 );
}

.williamhill { background: #013c5e;
background: -moz-linear-gradient(top,  #013c5e 0%, #00263c 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#013c5e), color-stop(100%,#00263c));
background: -webkit-linear-gradient(top,  #013c5e 0%,#00263c 100%);
background: -o-linear-gradient(top,  #013c5e 0%,#00263c 100%);
background: -ms-linear-gradient(top,  #013c5e 0%,#00263c 100%);
background: linear-gradient(top,  #013c5e 0%,#00263c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013c5e', endColorstr='#00263c',GradientType=0 );
}

.betfred { background: #01478d;
background: -moz-linear-gradient(top,  #01478d 0%, #002d59 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#01478d), color-stop(100%,#002d59));
background: -webkit-linear-gradient(top,  #01478d 0%,#002d59 100%);
background: -o-linear-gradient(top,  #01478d 0%,#002d59 100%);
background: -ms-linear-gradient(top,  #01478d 0%,#002d59 100%);
background: linear-gradient(top,  #01478d 0%,#002d59 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01478d', endColorstr='#002d59',GradientType=0 );
}

.stanjames { background: #8cd224;
background: -moz-linear-gradient(top,  #8cd224 0%, #629e1a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8cd224), color-stop(100%,#629e1a));
background: -webkit-linear-gradient(top,  #8cd224 0%,#629e1a 100%);
background: -o-linear-gradient(top,  #8cd224 0%,#629e1a 100%);
background: -ms-linear-gradient(top,  #8cd224 0%,#629e1a 100%);
background: linear-gradient(top,  #8cd224 0%,#629e1a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cd224', endColorstr='#629e1a',GradientType=0 );
}
.skybet{background:#0a1f8a;background:-moz-linear-gradient(top,#0a1f8a 0%,#000b43 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0a1f8a),color-stop(100%,#000b43));background:-webkit-linear-gradient(top,#0a1f8a 0%,#000b43 100%);background:-o-linear-gradient(top,#0a1f8a 0%,#000b43 100%);background:-ms-linear-gradient(top,#0a1f8a 0%,#000b43 100%);background:linear-gradient(to bottom,#0a1f8a 0%,#000b43 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a1f8a',endColorstr='#000b43',GradientType=0)}
#pbody #offers .skybet .hdr img{margin:-11px 0 0 0;padding:0}

.coral {background: #172c8c;
background: -moz-linear-gradient(top,  #172c8c 0%, #0f125d 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#172c8c), color-stop(100%,#0f125d));
background: -webkit-linear-gradient(top,  #172c8c 0%,#0f125d 100%);
background: -o-linear-gradient(top,  #172c8c 0%,#0f125d 100%);
background: -ms-linear-gradient(top,  #172c8c 0%,#0f125d 100%);
background: linear-gradient(top,  #172c8c 0%,#0f125d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#172c8c', endColorstr='#0f125d',GradientType=0 );
}

.hdrad { background:url(/img/bg-paddypower.gif); color:#fff; width:453px; padding:10px 0px; margin:14px 14px 0 0; -moz-border-radius:9px; -webkit-border-radius:9px; -khtml-border-radius:9px; border-radius:9px; float:right; display:table; }
.hdrad .adlft { display:table-cell; font-family:arial, sans-serif; padding:5px 30px; border-right:#0eac22 1px solid; vertical-align:top; }
.hdrad .adrt { display:table-cell; width:74px; text-align:center; border-left:#002904 1px solid; padding-top:34px; vertical-align:top; }
.hdrad .adlft h5 { font-size:12pt; margin:2px 0; padding:0; }
.hdrad .adlft h5 a { color:#7ac91e; text-decoration:none; }
.hdrad .adlft p { margin:3px 0 0 0; line-height:1.5em; font-weight:bold; }
.hdrad .adlft p a { color:#fff; text-decoration:none; }
.hdrad .adlft a img, .hdrad .adrt a img { border:none; }

.hdrad1 { background:url(/img/bg-williamhill.gif); color:#fff; width:453px; padding:10px 0px; margin:14px 14px 0 0; -moz-border-radius:9px; -webkit-border-radius:9px; -khtml-border-radius:9px; border-radius:9px; float:right; display:table; }
.hdrad1 .adlft { display:table-cell; font-family:arial, sans-serif; padding:5px 30px; border-right:#0eac22 1px solid; vertical-align:top; }
.hdrad1 .adrt { display:table-cell; width:74px; text-align:center; border-left:#002904 1px solid; padding-top:34px; vertical-align:top; }
.hdrad1 .adlft h5 { font-size:14pt; margin:2px 0; padding:0; }
.hdrad1 .adlft h5 a { color:#7ac91e; text-decoration:none; }
.hdrad1 .adlft p { margin:3px 0 0 0; line-height:1.5em; font-weight:bold; }
.hdrad1 .adlft p a { color:#fff; text-decoration:none; }
.hdrad1 .adlft a img, .hdrad .adrt a img { border:none; }