#promoLeft {
	width:610px;
	padding:10px;
	float:left;
	border-right:#e5e5e5 7px solid;
}

#promoLeft h1 {
	margin:20px 0px 3px 0px;
	font-size:16pt;
}

#promoLeft h2, #left h3, #left h4 {
	margin:22px 0px 3px 0px;
	font-size:13pt;
}

.promo {
	min-height:236px;
	margin-bottom:12px;
}

.promo .headerLeft {
	float:left;
}

.promo .headerRight {
	float:right;
	font-size:15pt;
	font-weight:bold;
	padding:18px 10px 0px 0px;
	text-transform:capitalize;
}

.promo .body {
	height:133px;
}

.promo .body ul {
	margin:0px 0px 16px 0px;
}

.promo .body li {
	line-height:1.5em;
}

.promo .body p {
	margin:5px 20px 10px 20px;
	line-height:1.5em;
}

.promo .linktxt {
	display:block;
	padding:5px;
	margin:6px 10px 0px 10px;
	text-transform:capitalize;
}

.promo .linktxt a {
	color:#fff;
	text-decoration:underline;
}

.promo .footerLeft {
	float:left;
	padding:1px 0px 0px 8px;
}

.promo .footerLeft img {
	border:#fff 1px solid;
}

.promo .footerRight {
	float:right;
	padding-right:8px;
}

.promo .footerRight input {
	padding:4px 8px;
	margin:-2px 0px 0px 0px;
	text-transform:capitalize;
}

.pr-ladbrokes {
	border:#bc4955 1px solid;
	background:url(images/promo-bg-ladbrokes.gif) repeat-x;
	color:#fff;
}

.pr-ladbrokes .linktxt {
	background:#451417;
}

.pr-paddypower {
	border:#234d1f 1px solid;
	background:url(images/promo-bg-paddypower.gif) repeat-x;
	color:#fff;
}

.pr-paddypower .linktxt {
	background:#0e2b19;
}

.pr-boylesports {
	border:#0a2237 1px solid;
	background:url(images/promo-bg-boylesports.gif) repeat-x;
	color:#fff;
}

.pr-boylesports .linktxt {
	background:#0d1f2b;
}

.pr-betfair {
	border:#0a2237 1px solid;
	background:url(images/promo-bg-betfair.gif) repeat-x;
	color:#000;
}

.pr-betfair .linktxt {
	background:#0d1f2b;
}

.pr-bet365 {
	border:#2d6259 1px solid;
	background:url(images/promo-bg-bet365.gif) repeat-x;
	color:#fff;
}

.pr-bet365 .linktxt {
	background:#073c32;
}

.pr-vcbet {
	border:#000 1px solid;
	background:url(images/promo-bg-vcbet.gif) repeat-x;
	color:#fff;
}

.pr-vcbet .linktxt {
	background:#4b4b4b;
}

.pr-williamhill {
	border:#0e1f27 1px solid;
	background:url(images/promo-bg-williamhill.gif) repeat-x;
	color:#fff;
}

.pr-williamhill .linktxt {
	background:#0e1f27;
}

.pr-tote {
	border:#0e1f27 1px solid;
	background:url(images/promo-bg-vcbet.gif) repeat-x;
	color:#fff;
}

.pr-tote .linktxt {
	background:#4b4b4b;
}

.pr-stanjames {
	border:#0e1f27 1px solid;
	background:url(images/promo-bg-stanjames.gif) repeat-x;
	color:#fff;
}

.pr-stanjames .linktxt {
	background:#78b41e;
}