#racecard-body {
	width:618px;
	background:#f9f9f9;
	border:#fff; 10px solid;
	padding:17px 0px;
	float:left;
}

#racecard-body h1 {
	padding-left:24px;
	border-bottom:#000 1px solid;
	margin:0px 0px 8px 0px;
	font-size:18pt;
	color:#3e3030;
}

#racecard-body h2, #left-body h3, #left-body h4 {
	margin:19px 0px 0px 24px;
	font-size:15pt;
	padding:0px;
}

#racecard-body p {
	margin:3px 24px 15px 24px;
	line-height:1.5em;
}

#raceinfo {
	border:#b7d968 1px solid;
	background:#f3f8e4;
	padding:5px 3px 7px 3px;
	margin:0px 5px;
}

#raceinfo p.verdict {
	line-height:1.5em;
}

#raceinfo p a {
	color:#00e;
}

#raceinfo span.verdictbox {
	display:inline-block;
	border:#bb0f0d 1px solid;
	background:#fff;
	color:#000;
	padding:1px 5px 3px 4px;
	text-transform:uppercase;
	font-size:8pt;
	font-style:italic;
	font-weight:bold;
	line-height:1em;
	margin-right:8px;
}

#raceinfo img.meets-arrow {
	margin:0px 0px -4px 101px;
	display:inline-block;
	border:none;
	padding:0px;
}

#raceinfo table.meetings {
	background:#fff;
	border:#b7d968 1px solid;
	margin:0px 0px 2px 0px;
}

#raceinfo table.meetings tr.shaded {
	background:#f5f8e5;
}

#raceinfo table.meetings th {
	text-align:left;
	padding-left:5px;
	line-height:2.4em;
}

#raceinfo table.meetings td {
	padding:13px 0px 13px 5px;
}

#raceinfo table.meetings td a {
	color:#121a03;
	text-decoration:underline;
}

#raceinfo table.meetings td a.btn {
	background:url(/images/bg-racecardBtn.gif) repeat-x;
	border:#121a03 1px solid;
	color:#121a03;
	text-decoration:none;
	font-weight:bold;
	padding:3px 10px;
}

#raceinfo table.racecard {
	background:#fff;
	border-bottom:#9ec103 1px solid;
}

#raceinfo table.racecard th {
	background:url(/images/bg-racecard-runners.gif) repeat-x;
	color:#fff;
	text-align:left;
	line-height:2.9em;
	padding-left:3px;
}

#raceinfo table.racecard td {
	padding:9px 0px 9px 3px;
	vertical-align:top;
}

#raceinfo table.racecard td.num {
	width:26px;
	font-size:11pt;
	line-height:1em;
}

#raceinfo table.racecard td.num small {
	font-size:7pt;
}

#raceinfo table.racecard td.silk {
	width:52px;
}

#raceinfo table.racecard td.details {
	width:110px;
}

#raceinfo table.racecard td.rating {
	width:62px;
}

#raceinfo table.racecard td.rating span.rating {
	border:#baca67 2px solid;
	font-weight:bold;
	width:32px;
	padding:7px 0px;
	display:inline-block;
	text-align:center;
	font-size:11pt;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	-khtml-border-radius:18px;
	border-radius:18px;
}

#raceinfo table.racecard td.odds {
	width:100px;
}

#raceinfo table.racecard td a.oddsBtn {
	background:url(/images/bg-racecard-oddsBtn.gif) repeat-x;
	border:#121a03 1px solid;
	text-decoration:none;
	color:#121a03;
	font-size:13pt;
	text-align:center;
	font-weight:bold;
	display:block;
	padding:10px 0px 9px 0px;
	width:95px;
	line-height:0.7em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
}

#raceinfo table.racecard td a.oddsBtn small {
	font-size:8pt;
	line-height:0em;
	margin:0px;
	padding:0px;
}

#raceinfo table.racecard td.racecardbox {
	border:#9ec200 1px solid;
}

#raceinfo img.racecard-arrow {
	margin:-15px 0px 0px 402px;
	float:left;
}

#raceinfo .spotlight {
	border-left:#9ec103 1px solid;
	border-right:#9ec103 1px solid;
	border-bottom:#9ec103 1px solid;
	padding:8px 8px 5px 8px;
}

#raceinfo .spotlight p {
	margin:0px 0px 3px 0px;
}

#raceinfo .spotlight strong {
	font-size:10pt;
}

#raceinfo .formbox {
	border-left:#9ec200 1px solid;
	border-right:#9ec200 1px solid;
	border-bottom:#9ec200 1px solid;
	padding:3px 5px;
	background:#e5eec1;
	display:none;
}

#raceinfo .formbox table.runnerform {
	font-size:8pt;
}

#raceinfo .formbox table.runnerform tr.alt {
	background:#e9f4d6;
}

#raceinfo .formbox table.runnerform th {
	text-align:left;
	padding:0px 0px 3px 3px;
}

#raceinfo .formbox table.runnerform td {
	border-top:#98cc2a 1px solid;
	padding:3px 0px 3px 3px;
	vertical-align:top;
}

#raceinfo .nonRunners {
	background:#fff;
	padding:12px;
	color:#000;
	margin-top:5px;
	border-top:#9dc92c 1px solid;
	border-bottom:#9dc92c 1px solid;
}

#raceinfo .nonRunners p {
	margin:0px;
}

table.runnerform td.dt {
	width:60px;
}

table.runnerform td.cond {
	width:140px;
}

table.runnerform td.weight {
	width:50px;
}

table.runnerform td.jockey {
	width:110px;
}

#raceinfo .viewhidebox {
	border-left:#9ec200 1px solid;
	border-right:#9ec200 1px solid;
	border-bottom:#9ec200 1px solid;
	padding:3px;
}

#raceinfo .viewhideform {
	background:url(/images/bg-racecard-runners.gif) repeat-x;
	border:#021b2f 1px solid;
	height:29px;
}

#raceinfo .viewhidebtn {
	float:left;
}

#raceinfo .viewhidebtn a {
	color:#00141d;
	text-decoration:none;
	border:#545253 1px solid;
	background:url(/images/bg-viewhide-formBtn.gif) repeat-x;
	padding:6px 0px;
	width:120px;
	display:block;
	text-align:center;
}

#raceinfo .viewhidepromo {
	float:right;
}

#raceinfo .viewhidepromo p {
	float:left;
	margin:6px 6px 0px 100px;
	font-weight:bold;
}

#raceinfo .viewhidepromo span.shaded {
	color:#02ebfc;
}

#raceinfo .viewhidepromo a {
	color:#fff;
	text-decoration:none;
	padding:0px;
	margin:-6px 0px 0px 0px;
}

.hide {
	display:none;
}