body {
	background:#fff url(images/bg-body.gif) repeat-x;
	margin:0;
	font-family:Tahoma, sans-serif;
	font-size:9pt;
	color:#383838;
}

#header {
	background:url(images/header.jpg) no-repeat;
	height:337px;
	width:977px;
	margin:0 auto;
}

#homeTab {
	margin-top:246px;
	padding-left:6px;
}

#homeTab a {
	color:#ffc700;
	text-decoration:none;
	font-size:12pt;
	font-weight:bold;
}

#menu {
	margin-top:11px;
	line-height:1.6em;
}

#menu a {
	color:#a3a3a5;
	text-decoration:none;
	padding:0px 9px;
	background:url(images/menu-link-border.gif) right center no-repeat;
}

#menu a:hover {
	color:#fff;
}

#menu a.noBorder {
	background:none;
	padding-right:0px;
}

#content {
	width:963px;
	border:#e5e5e5 7px solid;
	margin:0 auto;
	display:table;
}

#matchInfo {
	padding:5px 0px 0px 17px;
	color:#fff;
	text-transform:uppercase;
}

.matchDate {
	margin:-3px 0px 0px 10px;
	background:url(images/bg-date.gif) repeat-x;
	padding:3px 10px 5px 10px;
	line-height:1.8em;
	text-transform:capitalize;
	color:#000;
	font-size:8pt;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

#left {
	width:610px;
	padding:10px;
	display:table-cell;
	vertical-align:top;
	border-right:#e5e5e5 7px solid;
}

#right {
	width:306px;
	padding:10px;
	display:table-cell;
	vertical-align:top;
	text-align:left;	
}

.leftHeader {
	background:url(images/bg-left-header.gif) no-repeat;
	color:#fff;
	font-weight:bold;
	padding:6px 6px 7px 6px;
}

#left img {
	margin:3px 0px 3px 10px;
}

#left h1 {
	margin:20px 33px 3px 33px;
	font-size:16pt;
}

#left h2, #left h3, #left h4 {
	margin:22px 33px 3px 33px;
	font-size:13pt;
}

#left p {
	margin:5px 33px 15px 33px;
	line-height:1.5em;
}

#left li {
	line-height:1.9em;
}

#content p a, #content li a {
	color:#729a6c;
	text-decoration:underline;
}

.rightHeader {
	background:url(images/bg-right-header.gif) no-repeat;
	color:#fff;
	font-weight:bold;
	padding:6px 6px 7px 6px;
	margin-bottom:5px;
}

.advert {
	height:98px;
	margin:0px 0px 1px 1px;
	border:#000 1px solid;
}

.advert a.lg {
	margin:14px 0px;
	text-align:center;
	display:block;
}

.advert a.lg img {
	border:none;
}

.advert img.btn {
	border:#fff 1px solid;
	margin:5px;
	float:left;
}

.ladbrokes {
	background:url(images/bg-ladbrokes.gif) repeat-x;
}

.paddypower {
	background:url(images/bg-paddypower.gif) repeat-x;
}

.boylesports {
	background:url(images/bg-boylesports.gif) repeat-x;
}

.bet365 {
	background:url(images/bg-bet365.gif) repeat-x;
}

.vcbet {
	background:url(images/bg-vcbet.gif) repeat-x;
}

.williamhill {
	background:url(images/bg-williamhill.gif) repeat-x;
}

.advert-sm {
	height:34px;
	margin:0px 0px 1px 1px;
	border:#000 1px solid;
}

.advert-sm img {
	border:#fff 1px solid;
	margin:5px;
	float:left;
}

.advert-sm a {
	border:none;
	text-decoration:none;
}

.advert input, .advert-sm input {
	float:right;
	padding:3px 0px 4px 0px;
	width:180px;
	margin-right:4px;
	cursor:pointer;
}

.ladbrokes-sm {
	background:url(images/bg-ladbrokes-ln.gif) repeat-x;
	color:#fff;
}

.paddypower-sm {
	background:url(images/bg-paddypower-ln.gif) repeat-x;
	color:#fff;
}

.boylesports-sm {
	background:url(images/bg-boylesports-ln.gif) repeat-x;
	color:#fff;
}

.betfair-sm {
	background:url(images/bg-betfair-ln.gif) repeat-x;
	color:#000;
}

.bet365-sm {
	background:url(images/bg-bet365-ln.gif) repeat-x;
	color:#fff;
}

.betfred-sm {
	background:url(images/bg-betfred-ln.gif) repeat-x;
	color:#fff;
}

.totesport-sm {
	background:url(images/bg-tote-ln.gif) repeat-x;
	color:#fff;
}

.vcbet-sm {
	background:url(images/bg-vcbet-ln.gif) repeat-x;
	color:#fff;
}

.williamhill-sm {
	background:url(images/bg-williamhill-ln.gif) repeat-x;
	color:#fff;
}

.stanjames {
	background:url(images/bg-stanjames.gif) repeat-x;
}

.stanjames-sm {
	background:url(images/bg-stanjames-ln.gif) repeat-x;
	color:#fff;
}

#oddsPanel {
	margin-top:19px;
}

.oddsPanelHeader {
	color:#fff;
	display:block;
	padding:5px;
	font-weight:bold;
	margin-top:-4px;
	height:26px;
}

.oddsPanelHeader p {
	float:left;
	margin:5px 0px 0px 3px;
}

.oddsPanelHeader img {
	float:right;
	margin:0px 3px 0px 0px;
	border:#fff 1px solid;
}

.oddsPanelTable td {
	background:url(images/bg-odds-panel-table-sm.gif) repeat-x;
}

.oddsPanelTable td.sel a, .oddsPanelTable td.odds a {
	color:#000;
	text-decoration:none;
	font-size:10pt;
}

.oddsPanelTable td.sel {
	width:136px;
	line-height:2.7em;
	padding-left:10px;
}

.oddsPanelTable td.odds {
	width:70px;
	text-align:center;
}

.oddsPanelTable td.btn {
	width:85px;
}

ul#newsPanel {
	border-bottom:#000 2px solid;
	list-style-type:disc;
	margin:0px 0px 10px 0px;
	padding:0px 0px 5px 16px;
}

ul#newsPanel li {
	padding:3px 0px;
	font-size:8pt;
}

ul#newsPanel li a {
	text-decoration:none;
}

#strip {
	background:url(images/bg-strip.gif) repeat-x;
	height:57px;
	text-align:center;
}

#strip img {
	margin-left:-486px;
}

#footer {
	background:#2e4b53;
	border-top:#949fa3 1px dotted;
	padding:7px 0px 30px 0px;
}

#footerWrapper {
	width:977px;
	margin:0 auto;
}

#footerLeft {
	width:637px;
	float:left;
}

#footerRight {
	width:334px;
	float:right;
	text-align:left;
}

.footerRowLeft {
	background:#141f23 url(images/bg-footer-left-top.gif) no-repeat;
	margin-bottom:7px;
}

.footerRowLeft .column {
	float:left;
	width:201px;
	padding:7px 0px 0px 0px;
	margin-bottom:6px;
	line-height:1.6em;
	color:#fff;
	font-weight:bold;
}

.footerRowLeft .lft {
	margin-left:17px;
}

.footerRowLeft .rgt {
	margin-right:17px;
}

.footerRowLeft .column a {
	color:#c4c6c5;
	text-decoration:none;
	display:block;
	font-weight:normal;
}

.footerRowLeft .column a:hover {
	color:#fff;
}

.footerRowLeft .bottom {
	background:url(images/bg-footer-left-bottom.gif) no-repeat;
	height:4px;
}

#footerRight .column {
	background:#141f23 url(images/bg-footer-right-top.gif) no-repeat;
	width:299px;
	padding:11px 17px 1px 17px;
	margin-bottom:10px;
	line-height:1.6em;
	color:#fff;
	margin-bottom:-8px;
}

#footerRight .column h4 {
	margin:0px;
	font-size:10pt;
}

#footerRight .column p {
	margin:0px 0px 15px 0px;
}

#footerRight .column a {
	color:#ffc700;
	text-decoration:underline;
}

#oddsTable {
	margin:20px 33px 0px 33px;
}

#oddsTable th img {
	padding:0px;
	border:none;
	margin:0px;
}

#oddsTable th.selection {
	text-align:left;
}

#oddsTable td.f {
	padding:0px 0px 0px 10px;
}

#oddsTable td.f img {
	padding:3px;
	border:#000 1px solid;
	margin-top:5px;
}

#oddsTable td.selection {
	text-align:left;
	font-weight:normal;
	padding:0px 0px 0px 10px;
	background:url(images/bg-odds-panel-table.gif) repeat-x;
	line-height:3.35em;
	width:186px;
}

#oddsTable td  {
	background:url(images/bg-odds-panel-table.gif) repeat-x;
	text-align:center;
}

#oddsTable td a {
	color:#ff4045;
	text-decoration:none;
	display:block;
	width:50px;
	line-height:3.4em;
}

#oddsTable td a:hover {
	background:url(images/bg-odds-panel-table-hover.gif) repeat-x;
	color:#fff;
}

.oddsBox {
	background:#f3f8e5;
	border:#c5e085 1px solid;
	padding:5px;
	margin-top:15px;
}

.oddsBox p.date {
	margin:8px 0px 1px 13px;
	color:#659300;
	font-weight:bold;
}

.oddsBox h3 {
	margin:0px 0px 8px 13px;
	color:#3e3030;
	font-size:12pt;
}

.oddsBox .strip {
	background:#fff;
	padding:9px 13px;
	margin-bottom:2px;
}

.oddsBox p.race {
	color:#659300;
	font-weight:bold;
	margin:0px;
	font-size:10pt;
	line-height:1.5em;
}

.oddsBox p.race i {
	display:block;
	color:#2c2c2c;
	font-size:9pt;
	font-weight:normal;
}

.oddsBox .silk {
	float:left;
	width:43px;
	margin-right:9px;
}

.oddsBox .runner {
	float:left;
	width:150px;
	font-size:8pt;
	margin-top:-16px;
}

.oddsBox .runner span.r {
	color:#659300;
	font-weight:bold;
	font-size:9pt;
}

.oddsBox .price {
	float:right;
}

.oddsBox .price a {
	background:url(/images/bg-oddsbox-price.gif) repeat-x;
	width:60px;
	border:#909090 1px solid;
	padding:10px 0px;
	text-align:center;
	display:inline-block;
	color:#000;
	font-weight:bold;
	text-decoration:none;
	letter-spacing:0.1em;
	font-size:10pt;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
}

.oddsBox .price a:hover {
	background:url(/images/bg-oddsbox-price1.gif) repeat-x;
	border:#7dabd9 1px solid;
}

.oddsBox a.fullBtn {
	background:url(/images/bg-longBtn.gif) repeat-x;
	border:#808080 1px solid;
	padding:3px 10px 4px 10px;
	color:#000;
	text-decoration:none;
	display:inline-block;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
}

.oddsBox a.fullBtn:hover {
	background:url(/images/bg-longBtn1.gif) repeat-x;
	border:#7dabd9 1px solid;
}

.clear {
	clear:both;
}